---
import { getCollection } from 'astro:content';

import Main from '../layouts/Main.astro';
import Cards from '../components/Cards.astro';
const profilePicture = 'https://i.imgur.com/JPGFE75.jpg';

const blogs = await getCollection('blog');
---

<Main title='Frau Katerina Personal Website'>
  <div class='profile'>
    <img
      class='profile__picture'
      src={profilePicture}
      alt="Frau Katerina's headshot."
      width='100px'
      height='100px'
    />
    <div class='profile__details'>
      <h1>Frau Katerina</h1>
      <h2>VP of Engineering at Goooogle</h2>
      <p>
        Helping developers be excellent and succeed at building scalable
        products
      </p>
    </div>
  </div>
  <Cards
    cards={[
      {
        title: 'Here are my guiding philosophies for life',
        gradientFrom: '#818cf8',
        gradientTo: '#d8b4fe',
        to: '/philosophies',
      },
      {
        title: 'A summary of my work history',
        gradientFrom: '#fde68a',
        gradientTo: '#fca5a5',
        to: '/work-summary',
      },
      {
        title: 'What I do beyond technology',
        gradientFrom: '#6ee7b7',
        gradientTo: '#9333ea',
        to: '/beyond-tech',
      },
    ]}
  />
  <div class='featured-blogs'>
    <h3 class='featured-blogs__title'>Featured Blogs</h3>
    <p class='featured-blogs__description'>
      Opinion pieces that will change everything you know about web development.
    </p>
  </div>
  <ol class='blogs'>
    {
      blogs.map((blog) => (
        <li class='blogs__list'>
          <article>
            <img src={blog.data.poster} alt={blog.data.title} />

            <a href={`/blog/${blog.id}`} class='blog__link'>
              <h2>{blog.data.title}</h2>
            </a>

            <p>{blog.data.subtitle}</p>
          </article>
        </li>
      ))
    }
  </ol>
</Main>

<style>
  .profile {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
  }

  .profile__picture {
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
    display: block;
    height: auto;
  }

  .featured-blogs {
    margin: 0;
    padding: 3rem 0 0 0;
  }
  .featured-blogs__title {
    font-size: 2rem;
    color: var(--gray-900);
  }
  .featured-blogs__description {
    margin-top: -1.2rem;
  }
  .blogs {
    font-size: 1rem;
    font-weight: 500;
  }
  .blogs__list {
    border-bottom: 1px solid;
    border-color: var(--gray-200);
  }

  .blogs__list img {
    width: 100%;
    max-width: 500px;
    height: 300px;
  }
  .blog__link {
    opacity: 1;
    height: 100%;
    display: block;
    padding: 1rem 0;
    color: var(--gray-200);
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
  }
  .blog__link:hover {
    opacity: 0.7;
  }
</style>
