---
import type { MarkdownLayoutProps } from 'astro';
import Main from './Main.astro';

type Props = MarkdownLayoutProps<{
  // Define the expected frontmatter props here
  title: string;
  poster: string;
  subtitle: string;
}>;

const { poster, title, subtitle } = Astro.props.frontmatter;

const { frontmatter } = Astro.props;
---

<Main title='Frau Katarina | Blog'>
  <figure class='figure'>
    <img src={poster} alt={title} class='figure__image' />
    <figcaption class='figure__caption'>
      Poster image for {title.toLowerCase()}
    </figcaption>
  </figure>
  <h1>{title}</h1>
  <h2>{subtitle}</h2>
  <slot />
</Main>
<style>
  h1 + h2 {
    margin-bottom: 3rem;
  }
  .figure {
    margin: 0;
  }
  .figure__image {
    width: 100%;
    border-radius: 10px;
  }
  .figure__caption {
    font-size: 0.9rem;
    margin-block-start: 0.5rem;
  }
</style>
